@using Senai.Financas.Mvc.Web.Models;
@{
    Layout = "MasterPageUsuario";
}
<h3>Listagem de usuários</h3>
@TempData["Mensagem"]
<table>
    <thead>
        <tr>
            <td>Nome</td>
            <td>Email</td>
            <td>Data de nascimento</td>
        </tr>
    </thead>
    <tbody>
        @foreach(UsuarioModel usuario in ViewData["Usuario"] as List<UsuarioModel>)
        {
            <tr>
                <td>
                    @usuario.Nome
                </td>
                <td>
                    @usuario.Email
                </td>
                <td>
                    @usuario.DataNascimento.ToShortDateString()
                </td>
                <td>
                    <a href="/Usuario/Excluir?id=@usuario.ID">Excluir</a>
                    <a href="/Usuario/Editar?id=@usuario.ID">Editar</a>
                </td>
            </tr>
        }
        
    </tbody>
</table>
@*comentario @ nao conta*@
<select>
    @foreach (UsuarioModel usuario in ViewData["Usuario"] as List<UsuarioModel>)
    {
        <option>
            @usuario.Nome
        </option>
    }
</select>